.pageWrapper {
	max-width: 1230px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.table {
	border-radius: 5px;
	max-width: 100%;
	width: 100%;
	margin-bottom: 50px;
}

.tableHead .tableRow {
	background-color: #363636;
}

.tableHeader {
	color: var(--default-color);
	border-radius: 5px;
}

.tableCell,
.tableHeader {
	padding: 5px 40px;
}

.tableBody .tableRow:nth-child(odd) {
	background-color: #ededed;
}
.tableBody .tableRow:nth-child(even) {
	background-color: #c3c3c3;
}

.tableCell {
	text-align: center;
}

.tableBody .tableRow:hover {
	background-color: #8c8c8c;
	cursor: pointer;
}

.serverInfo {
	max-width: 100%;
	padding: 10px;
	width: 100%;
	background: transparent;
	color: var(--default-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	font-size: 18px;
	background-image: url('../../../public/homepage-icons/server-info-bg.svg');
	opacity: 90%;
	margin-bottom: 30px;
}

.startWork {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.textCoins {
	color: var(--secondary-color);
}

.userInfoCoins {
	color: var(--secondary-color);
}

.serverText {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
