.sidebar {
	background-color: var(--tertiary-color);

	height: 100vh;
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all 0.5s ease;
	z-index: 2;
}

.expanded {
	width: 300px;
}

.collapsed {
	width: 100px;
}

.logoWrapper {
	margin-bottom: 25px;
	margin-top: 25px;
	padding-bottom: 25px;
	border-bottom: 1px solid #636264;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
}

.expandIcon {
	position: absolute;
	top: -25px;
}

.expandIcon_light {
	fill: var(--tertiary-color);
}

.expandIcon_dark {
	fill: var(--default-color);
}

.sidebarBtn {
	border: none;
	background: none;
	cursor: pointer;
	position: absolute;
	right: 0;
}

.sidebarBtn:hover .collapseIcon,
.sidebarBtn:hover .expandIcon {
	fill: var(--primary-blue);
}

.userIcon {
	margin-left: -5px;
}

.homeLink {
	overflow: hidden;
}
.logo {
	margin-left: -16px;
}

.container {
	margin-bottom: 50px;
}

.toggleThemeButton {
	border: none;
	background: none;
	cursor: pointer;
	width: 24px;
	height: 24px;
}

.toggleLanguageButton {
	border: none;
	background: none;
	cursor: pointer;
	width: 24px;
	height: 24px;
}

.toggleThemeButton:hover .themeIcon {
	fill: var(--primary-blue);
}

.userName {
	color: var(--default-color);
	font-weight: 400;
	font-size: 32px;
	color: #fff;
	margin-bottom: 20px;
}

.logOutBtn_collapsed:hover svg {
	fill: var(--primary-blue);
}

.nav {
	margin-top: 25px;
	list-style-type: none;
	margin-bottom: 225px;
	width: 100%;
}

.nav__item {
	margin-bottom: 30px;
	font-weight: 300;
	font-size: 20px;
	line-height: 24px;
}

.nav__link {
	color: var(--default-color);
	display: flex;
	gap: 10px;
	overflow: hidden;
	white-space: nowrap;
	width: 100%;
	padding-bottom: 4px;
	transition: all 0.3s;
}

.isActive {
	border-right: 4px solid var(--primary-blue);
}

.isActive .nav__text {
	color: var(--primary-blue);
	font-weight: bold;
}

.isActive .nav__icon {
	color: var(--primary-blue);
}

.nav__text {
	text-overflow: ellipsis;
}

.nav__link:hover {
	border-right: 5px solid var(--primary-blue);
}

.nav__link:hover .nav__text {
	color: var(--primary-blue);
}

.nav__link:hover .nav__icon {
	color: var(--primary-blue);
}

.langIcon {
	width: 24px;
	height: 24px;
}

.userExpBtnContainer {
	margin-bottom: 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 25px;
	margin-left: -5px;
	padding-bottom: 50px;
	width: 100%;
	border-bottom: 1px solid #636264;
}

.toggleThemeButton,
.toggleLanguageButton {
	transition: all 0.3s;
}

.toggleThemeButton:hover {
	transform: scale(1.2);
}

.toggleLanguageButton:hover {
	transform: scale(1.2);
}
