:root {
	--primary-purple: #8f16ff;
	--primary-blue: #107eff;
	--secondary-color: #cca43b;
	--tertiary-color: #1d1d1d;
	--default-color: #ffffff;
	--text-color: #000000;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	overflow-x: hidden;
}

body {
	margin-bottom: 120px;
	background-attachment: fixed;
}

.body_light {
	background-image: url('../../public/light-bg.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.body_dark {
	background-image: url('../../public/dark-bg.svg');
	background-repeat: repeat;
	background-position: center;
}

.body_dark p,
.body_dark h1,
.body_dark h2,
.body_dark h3 {
	color: var(--default-color);
}

a {
	color: inherit;
	text-decoration: none;
}
