:root {
	--primary-purple: #8f16ff;
	--primary-blue: #107eff;
	--secondary-color: #cca43b;
	--tertiary-color: #1d1d1d;
	--default-color: #ffffff;
	--text-color: #000000;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	overflow-x: hidden;
}

body {
	margin-bottom: 120px;
	background-attachment: fixed;
}

.body_light {
	background-color: #fff;
}

.body_dark {
	background-color: #1f212e;
}

.body_dark p,
.body_dark h1,
.body_dark h2,
.body_dark h3,
.body_dark label {
	color: var(--default-color);
}

a {
	color: inherit;
	text-decoration: none;
}
