.button {
	color: var(--default-color);
	transition: all 0.3s;
	cursor: pointer;
	border: none;
}

.small {
	width: 50px;
	height: 30px;
	text-transform: uppercase;
}

.middle {
	width: 180px;
	height: 55px;
	background-image: linear-gradient(
		to left,
		var(--primary-purple) 0%,
		var(--primary-blue) 51%,
		var(--primary-purple) 100%
	);
	background-size: 200% auto;
	display: block;
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 18px;
	box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.middle:hover {
	background-position: right center; /* change the direction of the change here */
}

.small,
.middle {
	background-color: var(--tetriary-color);
	text-align: center;
	border-radius: 5px;
}

.big {
	width: 180px;
	height: 70px;
	border-radius: 10px;
	background-color: var(--tertiary-color);
	font-weight: 500;
	font-size: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	position: relative;
	overflow: hidden;
	opacity: 90%;
	background-image: url('../../public//button-icons/button-bg.svg');
}

.big::before {
	content: '';
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: linear-gradient(
		to left,
		var(--primary-blue) 0%,
		var(--primary-purple) 100%
	);
	transition: 0.3s;
	opacity: 0;
	border-radius: 10px;
}

.big:hover::before {
	opacity: 1;
}

.big:hover {
	background-color: transparent;

	box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.big:hover .coinIcon {
	fill: #fff;
}

.transparent {
	background-color: transparent;
	opacity: 85%;
}
