.pageWrapper {
	height: 100vh;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all 1s;
	margin-top: 40px;
}

.settingsContainer {
	display: flex;
	gap: 100px;
	padding: 40px 22.5px;
	border: 1px solid var(--primary-blue);
}

.settingsTitle {
	font-size: 18px;
	font-weight: 600;
}

.settingsTitle_activeBlue {
	transition: all 0.3s;
	color: var(--primary-blue);
}

.settingsTitle_activePurple {
	transition: all 0.3s;
	color: var(--primary-purple);
}

.settingsAccountOption,
.settingsPaymentOption {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.settingsButton {
	border: none;
	background: transparent;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}

.settingsButton:hover {
	transition: all 0.3s;
	transform: scale(1.1);
}

.settingsButton_activeBlue,
.settingsButton_activePurple {
	transform: scale(1.1);
}

.settingsIcon {
	width: 30px;
	transition: all 0.3s;
}

.settingsIcon_activeBlue {
	fill: var(--primary-blue);
}

.settingsIcon_activePurple {
	fill: var(--primary-purple);
}

.settingsBox {
	animation: blur-in 0.4s linear both;
}
@keyframes blur-in {
	0% {
		filter: blur(12px);
		opacity: 0;
	}
	100% {
		filter: blur(0);
		opacity: 1;
	}
}

.settingsBox {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 60px 40px;
	width: 525px;
	border: 1px solid var(--primary-blue);
}

.formButton {
	padding: 5px 10px;
	width: 300px;
}

.formInput {
	width: 100%;
	font-size: 18px;
	padding: 10px 10px;
	margin-bottom: 10px;
}
.formInput::placeholder {
	color: rgb(192, 192, 192);
}

.formInput:last-of-type {
	margin-bottom: 30px;
}

.formText {
	margin-bottom: 30px;
}

.formLabel {
	font-size: 28px;
	font-weight: 300;
	margin-bottom: 10px;
	width: 100%;
}

.formSwitchContainer {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 100px;
	width: 100%;
}

.switchText {
	font-size: 18px;
}

.infoBox {
	width: 525px;
	padding: 10px;
}

.infoText {
	text-align: center;
	font-size: 18px;
}

.accSettingsContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-bottom: 20px;
	width: 100%;
}

.accSettingsTitle {
	font-weight: 600;
}
